.cart{
    display: flex;
    padding: 130px 0;
    justify-content: center;
    width: 100%;
}

.cart table{
    width: 100%;
}

.headers{
    background-color: lightgrey;
    text-align: center;
}


.cart table th{
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 400;
    padding: 15px;
}

.thead{
    background-color: rgb(202, 202, 202, 0.2);
    text-align: center;
}

.innerCart{
    display: flex;
    gap: 30px;
}

.instructions{
    text-align: center;
    background-color: rgb(202, 202, 202, 0.2);
    padding: 20px;
    height: 200px;
    width: 350px;
}

.instructions h3{
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
}

.instructions textarea{
    padding: 20px;
    border: 1px solid rgb(202, 202, 202, 0.6);
}

.innerPolicies{
    display: flex;
    background-color: rgb(202, 202, 202, 0.2);
    padding: 0 20px;
}

.one{
    padding-top: 20px;
}

.three{
    padding-bottom: 20px;
}

.policies{
    height: 270px;
    width: 350px;
}

.innerPolicies p{
    font-size: 0.9em;
    font-weight: 400;
    color: black;
    letter-spacing: 0.04;
}

.innerPolicies b{
    font-size: 1.1em;
    font-weight: 400;
    color: grey;
    letter-spacing: 0.04;
    margin-top: 10px;
}

.policyIcon{
    margin-left: 10px;
}


.cartTotal{
    display: flex;
    justify-content: center;
    text-align: center;
    width:350px;
    background-color: rgb(202, 202, 202, 0.2);
    padding: 14px;
    margin: 20px 0;
}

.checkoutBtn{
    width: 320px;
    padding: 5px;
    text-transform: capitalize;
    background-color: #f0b325;
    border: none;
    outline: none;
    font-weight: 400;
    margin-top: -10px;
    transition: all 0.5s ease-in-out;
}

.checkoutBtn:hover{
    background-color: #366e78;
    color: white;
}

.cartTotal h3{
    font-size: larger;
    font-weight: 400;
    text-transform: capitalize;
}

.totalAmount{
    font-size: larger;
    font-weight: 500;
}

.cartCheckoutDetail{
    font-size: 0.95em;
    font-weight: 400;
    color: rgba(125, 125, 125, 0.9);
    letter-spacing: 0.03em;
}