#myTab{
    width: 250px;
}

.nav-item button{
    margin: 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

.tab-pane{
    position: absolute;
}

.nav-tabs{
    border: none;
}

.accountSpan{
    font-weight: lighter;
    font-size: large;
    margin-left: 10px;
    cursor: pointer;
}

#profile-tab{
    font-weight: bolder;
}

.tab-pane{
    background-color: white;
}

#account-tab-pane{
    padding: 20px;
}

#cart-tab-pane{
    padding: 20px;
    right: 20px;
}

#search-tab-pane input{
    position: absolute;
    left: -10px;
    padding-left: 30px;
    padding-bottom: 6px;
    font-style: italic;
    color: black;
    font-size: small;
}


.search{
    position: absolute;
    display: block;
}

.search-input{
    width: 250px;
    padding-right: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 30px;
}


#myTab .nav-item {
    transition: transform 0.5s;
    padding: 0;
    margin-top: 0;
}
/* #myTab .nav-item:hover {
    transform: rotateY(180deg);
} */

#myTab{
    margin-bottom: 45px;
}

.topCartContainer{
    height: fit-content;
}

.topCart{
    display: block;
}

.innerTopCart img{
    width: 70px;
    height: 100px;
}

.innerTopCart{
    display: flex;
    width: 250px;
    gap: 30px;
    margin-bottom: 20px;
}

.innerTopCartRight p{
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: gray;
    text-transform: capitalize;
    line-height: 1.2em;
}

.innerTopCartRight b{
    padding-top: -30px;
    font-weight: 500;
    font-size: 0.92em;
    line-height: 0.2em;
}

.bold{
    margin-top: -12px;
}

sub{
    color: gray;
    font-size: 0.97em;
    margin-left: 2px;
    font-weight: 300;
}

.topCartTotalCheckout{
   display: block;
}

.topCartAmount{
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}

.topCartAmount h4{
    font-size: 1.06em;
    font-weight: 300;
    text-transform: capitalize;
}

.topCartAmount p{
    color: gray;
    letter-spacing: 0.04em;
}

.blackBtnTopCart{
    background-color: #366e78 !important;
    margin-left: 10px;
}

.removeFromCartTop{
    position: absolute;
    right: 20px;
    font-size: large;
    color: gray;
}